@use "presets";
@use "globals/variables";
@use "globals/buttons";
@use "mixins";

// Variables

$cardRadius: variables.$defaultRadius;
$imageRadius: variables.$defaultRadius;
$progressBarBg: variables.$athensGray;
$progressBarColor: variables.$mediumRedViolet;

body {
  min-height: 100vh;
  background-image: url(../images/bg.jpg);
  display: grid;
  grid-template: 1fr/1fr;
  color: variables.$athensGray;
}

.main__wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: variables.$mirage;
  text-align: center;
  max-width: 350px;
  padding: 20px;
  border-radius: $cardRadius;
  display: grid;
  grid-gap: 10px;

  .card__image {
    border-radius: $imageRadius;
  }

  .button--play {
    @extend %base-button;
    background: variables.$mediumRedViolet;
    border: none;
    padding: 5px 6px;
    display: flex;
    // Remove light blue background color on click on mobile devices
    -webkit-tap-highlight-color: transparent;

    .svg--pause {
      display: none;
    }

    &.button--pause {
      & > svg.svg--play {
        display: none;
      }
      & > svg.svg--pause {
        display: block;
      }
    }
  }

  .card__details {
    .card__title {
      font-size: 16px;
      font-weight: 400;
    }

    .card__author {
      font-size: 12px;
      color: variables.$riverBed;
      margin-top: 5px;
    }
  }

  .card__progressbar {
    margin: 20px 0;

    .progressbar__time {
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      color: variables.$riverBed;
    }

    .progressbar__container {
      display: block;
      background: $progressBarBg;
      height: 4px;
      border-radius: 20px;
      content: "";
      margin-top: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 5px 0px variables.$athensGray;
      }
    }

    .progressbar__slider {
      width: 30%;
      background-color: $progressBarColor;
      height: 100%;
      box-shadow: 0px 0px 5px 0px #c93b76;
      border-radius: variables.$defaultRadius;
    }
  }

  .card__buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;

    .button--previous,
    .button--next {
      @extend %base-button;
    }
  }
}
