
$primary-bg-color: #FE5303;
$primary-color: #FFFFFF;
$color-gray: #BDBDBD;
$font-playfair: 'Playfair Display', serif;
$font-poppins: 'Poppins', sans-serif;
$default-border-radius: 12px;

$default-weight: 500;

// Breakpoint

$breakpoint-desktop : 1024px;


// Images used in rooms / suites

$images: ('stay-1.png', 'stay-2.png', 'stay-3.png', 'stay-4.png', 'stay-5.png');